# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL_DEV=mongodb+srv://admin:leads@123@wes-wallet.vfrzo.mongodb.net/wesWallet?retryWrites=true&w=majority
MONGODB_URL=mongodb+srv://a5YSdSKUouj8ahkJ:a5YSdSKUouj8ahkJ@wes-wallet.1ttit.mongodb.net/wesWallet?retryWrites=true&w=majority

# JWT
# JWT secret key
JWT_SECRET=whyDoYouNeedASecretKey
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# SMTP configuration options for the email service
DOMAIN_NAME=www.wes-wallet.com
SMTP_HOST=mail.wes-wallet.com
SMTP_PORT=465
SECURE=true
SMTP_USERNAME=admin@wes-wallet.com
SMTP_PASSWORD=yxl_8$R+ys6c
EMAIL_FROM=admin@wes-wallet.com
FROM_NAME=admin@wesWallet
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@wes-wallet.com

# File storage path configuration
FILE_UPLOAD_PATH= ./src/public/uploads
# Maximum file siz is 2MB
MAX_FILE_UPLOAD=10485760

# profile share
BASE_SHAREABLE_URL=https://wes-wallet.com/signup
SHARE_VIA_QR=QR
SHARE_VIA_MAIL=EMAIL
SHARE_VIA_LINK=LINK

# for dev mode
BASE_SHAREABLE_URL_DEV=http://115.127.8.84:5000/signup

# blokchain api url
BLOCKCHAIN_API_URL = https://service.wes-wallet.com

# Blockchain api url development
BLOCKCHAIN_API_URL_DEV = https://service.wes-wallet.com:8000

# mail server DEV
DOMAIN_NAME_DEV=www.wes-wallet.com
SMTP_HOST_DEV=mail.wes-wallet.com
SMTP_PORT_DEV=465
SMTP_USERNAME_DEV=admin@wes-wallet.com
SMTP_PASSWORD_DEV=yxl_8$R+ys6c

# mail address dev
EMAIL_FROM_DEV=admin@wes-wallet.com
FROM_NAME_DEV=admin@wesWallet
ADMIN_NAME_DEV=Admin
ADMIN_EMAIL_DEV=admin@wes-wallet.com
ADMIN_EMAIL_PROD=s.capital.partners2019@gmail.com

# BTC dev envs
BTC_ACC_BALANCE_DEV=https://insight.bitpay.com/api/addr/

# Admin request key
ADMIN_REQUEST_KEY=<pleasesendfromadminaddress!>

# Secret key to encrypt and decrypt private-key
PRIVATE_KEY_SECRET=WES60WOLF876EAGLE191SNOW

#Secret key to encrypt and decrypt ip addresses
AUTH_SECRET=WES6087652191API6775AUTH

# Secret key for private key decryption from client-side
EMAIL_KEY_SECRET=WES60WOLF876EAGLE191SNOW

#Host ip address
CURRENT_IP_PROD=35.73.140.69
CURRENT_IP_DEV=115.127.8.84

#REFERRER
DEFAULT_REFERRER_DEV=6083ebbebb3ba2750b15ce06
DEFAULT_REFERRER_PROD=606f410ae6d67e46b6e71ec1

#GOLD PRICE API
GOLD_PRICE_API_URL_PROD=https://www.metals-api.com/api/latest
GOLD_PRICE_API_KEY_PROD=m883w6gkc5jxkonwxe02julns7v7gv0slrind4dx5kvg8p3u4406m5xd4o94

GOLD_PRICE_API_URL_DEV=https://www.metals-api.com/api/latest
GOLD_PRICE_API_KEY_DEV=m883w6gkc5jxkonwxe02julns7v7gv0slrind4dx5kvg8p3u4406m5xd4o94


#BASE URL
BASE_URL=https://wes-wallet.com
BASE_URL_DEV=http://115.127.8.84:5000

# admin address
ADMIN_BTC_ADDRESS=1JtKUXk7k4Q4axENo3zrZrpDRZNeKMnNnj
ADMIN_ETH_ADDRESS=0xAe5FAcE83f177F85a2fB9CF9e9F88442092d7E94
ADMIN_BTC_ADDRESS_DEV=mrEf4vefPrgn1LdHJZPvedN7ffdGsutjoU
ADMIN_ETH_ADDRESS_DEV=0x7b70e83cda0124db77bfeb0555c9d002ae26f58c